/* Обнуляющий стиль */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  list-style-type: none;
}

input,
button,
textarea {
  font-family: inherit;
  
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* Конец обнуляющего стиля */

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-family: Montserrat;
  font-weight: 500;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}
._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* -----------------------Шапка---------------------------------- */
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
  padding: 5px 0;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171%;
}
@media (max-width: 479px) {
  .header__menu {
    font-size: 18px;
  }
}
/* -------------- page--------------- */
.page {
  flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
  position: relative;
  margin: -111px 0px 0px 0px;
  z-index: 51;
}
.page__advantages {
}
.page__advices {
}
.page__whoweare {
}
.page__clients { 
  margin: 0px 0px 10px 0px;
}
.page__subscribe {
}
.page__getintouch {
}
.page__contactus {
}
/* --------------------Header-block---------- */
.header-block {
  text-align: center;
   
}
.header-block__title {
    font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
}
.header-block__title:not(:last-child){
  margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
  font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
}
@media (max-width:992px){
  .header-block_title{
    font-size: 36px;
  }
}
/* ----------------Подвал------------- */
.footer {
}

/* -------------Main-block -------------- */

.main-block {
  position: relative;
}
.main-block__container {
}

.main_block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
@media (max-width: 992px) {
  .main_block__body {
    padding: 120px 0 191px 0;
  }
}
.main_block__body > *:not(:last-child) {
  padding: 0 0 35px 0;
}
.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
}
@media (max-width: 992px) {
  .main-block__title {
    font-size: 54px;
  }
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 44px;
  }
}
.main-block__text {
  /* padding: 35px 0 35px 0; */
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2;
  color: #737373;
}
@media (max-width: 479px) {
  .main-block__text {
    color: #252b42;
  }
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  border-radius: 37px;
  padding: 5px 36px;
  letter-spacing: 0.2px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin: 10px 0;
}
@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 auto;
  }
}
.main-block__button:not(:last-child) {
  margin-right: 10px;
}
.main-block__button_orange {
  background-color: #ff7b47;
  color: white;
}
.main-block__button_green {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

/* ----------Services---------- */


.services {
}
.services__container {
}

.services__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px  ;
}
.services__column {
  padding: 0px  15px;
  flex: 0 1 33.333%;
}
.services__column:last-child{
  /* padding-right: 30px; */
}
@media (max-width:992px){
  .services__column{
    flex: 0 1 100%;
    padding: 0 15px 30px 15px;
  }
}
.services__item {
  height: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: white;
  padding: 35px;
}
.item-service {
}
.item-service > *:not(:last-child){
margin: 0px 0px 10px 0px;
}
.item-service__green{
 background-color: #0D5C63;
}
.item-service__green .item-service__title {
  color: white;
}
.item-service__green .item-service__text{
  color: white;
}
.item-service__icon {
 
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.item-service__text {
  font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
}

/* -----------------Adventurs------------*/

.advantages {
  padding: 80px  0px;
}
@media (max-width:992px){
  .advantages{
    padding: 50px  0px;
  }
}
.advantages__container {
}

.advantages__header {
  margin: 0px 0px 50px 0px;
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px -15px;
}
.advantages__column {
  
  /* align-items: center; */
  flex: 0 1 25%;
  padding: 0px  15px;
  margin: 0px 0px 15px 0px;
  
}
@media (max-width:1062px){
  .advantages__column{
    flex: 0 1 50%;
  }
  .advantages__body{
    
  }
}
@media (max-width: 479px){
  .advantages__column{
    flex: 0 1 100%;
    justify-content: center;
  }
}
.advantages__item {
  text-align: center;
  background-color: white;
  padding: 30px ;
  font-weight: 700;
}
.advantages__item > *:not(:last-child){
  margin: 0px 0px 10px 0px;
}
.advantages__icon {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.advantages__value {
  
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
}
.advantages__text {

font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;
color: #737373;
}


/* ------------------------advices---------------- */


.advices {
  padding: 0px 0px 80px 0px;
}
.advices__container {
}

.advices__header {
  margin: 0px 0px 45px 0px;
}

.advices__body {
  display: flex;
  margin: 0px  -20px -30px;
  flex-wrap: wrap;
}
.advices__column {
 flex: 0 1 25%;
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
}
@media (max-width:1062px){
  .advices__column{
    flex: 0 1 50%;
   
  }
 
  .advices {
    padding: 0px 0px 50px 0px;
  }
  }
  @media (max-width:479px){
    .advices__column{
      flex: 0 1 100%;
    }
   
  }
.advices__item {
   display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;

}
.advices__content{
  padding: 30px;
  flex: 1 1 auto;
}
.advices__content > *:not(:first-child){
  padding: 15px 0px 0px 0px ;
}
.advices__title {
font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;
}
.advices__sub-title {
  font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
}
.advices__image {
  padding: 0 0 69% 0;
}

/* --------------Who we are--------------- */


.whoweare {
  padding: 80px 0px 130px 0px;
  background-color: #fff;
}
@media(max-width:980px){
  .whoweare{
    padding:50px 0px ;
    
  }
}
.whoweare__container {
}

.whoweare__header {
  margin: 0px 0px 100px 0px;
}
@media(max-width:980px){
  .whoweare__header:not(:last-child){
    margin:0px 0px 30px 0px ;
    
  }
}
.whoweare__body {
  display: flex;
  align-items: flex-start;
}
@media(max-width:980px){
  .whoweare__body{
    flex-direction: column-reverse;
    align-items: stretch;
    
  }
}
.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}
@media(max-width:980px){
  .whoweare__video{
   padding: 0px 0px 56.25% 0;
    
  }
}
.whoweare__video iframe{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.whoweare__content {
  flex: 1 1 auto;
  padding: 20px 0px 0px 121px;
}
@media(max-width:1080px){
  .whoweare__content{
    padding: 0px 0px 0px 50px;
    margin: 0px 0px 50px 0px;
  }
}
@media(max-width:950px){
  .whoweare__content{
    padding: 0px 0px 0px 0px;
    
  }
}
.whoweare__title {
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
}
@media(max-width:980px){
  .whoweare__title{
    font-size: 24px;
    
  }
}
.whoweare__title:not(:last-child){
  margin: 0px 0px 10px 0px;
}
.whoweare__sub-title {
  font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
}

.whoweare__items {
  padding: 50px 0px 0px 0px;
}

.whoweare__item {
}
.whoweare__item:not(:last-child){
  margin: 0px 0px 30px 0px;
}
.whoweare__item{

}
.item-whoweare {
  display: flex;
}
.item-whoweare__icon {
  flex: 0 0 32px;
}
.item-whoweare__body {
  flex: 1 1 auto;
line-height: 24px;
padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
font-weight: 700;
font-size: 16px;
letter-spacing: 0.1px;
color: #252B42;
line-height: 150%;
}
.item-whoweare__title:not(:last-child){
  margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
  font-weight: 600;
font-size: 14px;
letter-spacing: 0.2px;
color: #737373;
white-space: nowrap;
width: 225px;
overflow: hidden;
text-overflow: ellipsis;
}


/* --------------Clients------------- */

.clients {
  padding: 50px 0px;
}
.clients__container {
 
}
.clients__items{
 display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.clients__item {
  flex: 0 1 16.3%;
  text-align: center;
  padding: 8px 15px;
  min-width: 140px;
}
.clients__item img{
  max-width: 100%;
}

@media(max-width:950px){
  .clients__item{
     flex: 0 1 33.33%;
     
  }
  .clients__item{
    align-items: flex-start ;
    
  }
}
@media(max-width:492px){
  .clients__item{
     flex: 0 1 50%;
  }
 
}
/* @media(max-width:400px){
  .clients__item{
     flex: 0 1 100%;
     
  }
 
} */ 

/* ----------------Subscribe----------------- */

.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px ;
}
.subscribe::before{
  content: "";
  background-color: #252B42;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 77px;
  width: 100%;

}
.subscribe__container {
}

.subsribe__body {
  position: relative;
  z-index: 10;
  
 padding:  30px 45px ;
 
  background: #17213C;
  align-items: center;
  border-radius: 2px;
  }
  @media(min-width:1070px){
    .subsribe__body{
      margin: 0px 30px;
    }
  }
 
.subscribe_title {
  
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #FFFFFF;
}
@media(max-width:810px){
  .subscribe_title{
    margin:0px 0px 20px 0px ;
  }
  .subsribe__body{
    margin: 0px -15px;
    padding: 20px 15px;
  }
  
}
@media(min-width:810px){
  .subsribe__body{
    display: flex;
justify-content: space-between;
  }
  .subscribe_title{
    max-width: 266px;
  }
  
}
.subscribe__form {
  flex: 0 1 50%;
  display: flex ;
  align-items: center;
  
}
.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  background-color: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px 0px 0px 5px;
  color: #737373;
  border-right:0;
  /* padding: 15px 161px 15px 20px; */
  padding: 0px 20px;
}
.subscribe__input:focus{
  color: black;
}
.subscribe__button {
   background-color: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  padding: 0px 20px;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

/* ---------------------Getintouch---------------- */

.getintouch {
  padding: 80px 0px 135px 0px;
  background-color: #F3F3F3;
}
.getintouch__container {
}

.getintouch__header {
  margin: 0px 0px 80px 0px;
}

.getintouch__body {
display: block;
}
/* .getintouch__column {
} */
.getintouch__items {
 margin: 0px -15px;
 }
 @media(min-width:992px){
  .getintouch__items {
    margin: 0;
 display: flex;
  align-items: center;
  }
  .item-getintouch{
    padding: 20px 0px;
  }
 }
@media(max-width:992px){
  .getintouch__header {
    margin: 0px 0px 30px 0px;
  }
  .getintouch {
    padding: 50px 0px 75px 0px;
    background-color: #F3F3F3;
  }
}
@media(max-width:497px){
  .getintouch {
    padding: 50px 0px 50px 0px;
    
  }
}
.getintouch__item {
flex: 0 1 33.333%;

}

.getintouch__item > *:not(:last-child){
  margin-bottom: 15px;
}
.item-getintouch {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
background-color: white;

}
.item-getintouch_active{
  background-color: #252B42;
  color: white;
padding: 80px 15px;
}
.item-getintouch_active .item-getintouch__button{
  border: 1px solid white;
  color: white;
}

.item-getintouch__icon {
}
.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.2px;
}
.item-getintouch__emails:hover{
text-decoration: underline;
}
.item-getintouch__email {
  color: inherit;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}
.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.item-getintouch__button {
  min-height: 44px;
  display: flex;
  font-weight: 600;
  align-items: center;
  text-align: center;
  justify-content: center;
  line-height: 142%;
  padding: 10px 20px;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  color: #FF7B47;
 transition: all 0.3s ease 0s;
  
}
.item-getintouch__button:hover{
  background-color: #FF7B47;
  color: white;
  }

  /* --------------Contact us---------------- */
 
  .contactus {
     padding: 40px 0px;
     background-color: white;
  }
  .contactus__container {
  }
  
  .contactus_body {
    margin: 0px -10px;
  }
   .contactus__content {
   padding: 0px 0px 20px 0px;
  }
  @media(min-width:767px){
    .contactus_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .contactus__content {
      padding: 0px 20px 0px 0px;
     }
  }
 
  .contactus__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
letter-spacing: 0.1px;
  }
  .contactus__title:not(:last-child){
    margin: 0px 0px 10px 0px;
  }
  .contactus__text {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 142%;
letter-spacing: 0.2px;


color: #737373;
  }
  .contactus__button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #FF7B47;
    padding: 5px 40px;
 min-height: 58px; 
font-weight: 700;
font-size: 14px;
line-height: 200%;
letter-spacing: 0.2px;
color: #FFFFFF;
border-radius: 5px;
transition: background-color all 0.3s ease 0s ;
}
.contactus__button:hover{
  background-color: #af3708;
}

/* -------------Footer------------- */
.footer {
}
.footer__top {
  background-color: #17213C;
  padding: 50px 0px;
}
.footer__main {
  display: flex;
}
.footer__row{
  display: flex;
  margin: 0px -15px;
}
.footer__column {
  padding: 0px 15px;
  flex: 0 1 20%;
}
.footer__label {
  color: white;
  font-weight: 700;
  line-height: 150%;
  font-size: 16px;
  margin: 0px 0px 20px 0px;
}
.footer__menu {
}

.menu-footer {
}
.menu-footer__list {
}
.menu-footer__item { 
}
.menu-footer__item:not(:last-child) {
   margin: 0px 0px 10px 0px;
}
.menu-footer__link {
  color: white;
  letter-spacing: 0.2px;
}

.footer__contacts {
}
.contacts-footer {
  display: flex;
  flex-direction: column;
}
.contacts-footer__item {
}
.contacts-footer__item:not(:last-child){
  margin: 0px 0px 10px 0px;
}
.contacts-footer__item_phone {
}
.contacts-footer__item_map {
}
.contacts-footer__item_email {
}
/* --------------------------- */
.footer__bottom {
}
.footer__container {
}
.footer_copy {
}

.footer__social {
}
.social {
}