* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
body {
    background-color: rgb(212, 209, 205);
    padding: 30px;
    font-size: 25px;
}
h1{
    text-transform:uppercase;
}
.content {
    max-width: 1100px;
    width:auto 100% ;
    width: 1100px;
margin: 0 auto;
display: flex;
justify-content: center;

}
.content_item{
    
    width: auto 100px;
    max-width: 900px;
}

.list {
    font-size: 20px;
    margin-bottom: 30px;
    
}
.list li{
    
    margin-top: 30px;
    background: url(/1.jpg) 0 0 no-repeat;
    padding-left: 60px;
}
.list li:nth-child(1){
    text-decoration: line-through;
}
.list li:nth-child(1):hover{
    text-decoration: none;
}
.list li:nth-child(2){
font-weight: bold;
}
.list li:nth-child(2):hover{
    color: red;
    font-weight: normal;
}
.list li:nth-child(3){
    font-style: italic;
}
.list li:nth-child(3):hover{
font-style: normal;
}
.list li:nth-child(4) span{
    
    text-transform: uppercase;
}
.list li:nth-child(4) span{
    opacity: 0.6;
}
.list li:nth-child(4) span:hover{
    text-transform: none;
    opacity: 1;
    text-decoration: line-through;
    
}


.textInput {
    border: 1px solid black;
    width: 300px;
    height: 100px;
   margin-bottom: 10px;
   border-radius: 15px;

}
.textInput:focus{
    box-shadow: 0px 0px 8px 2px rgb(42, 158, 224);
}
.textButton {
    
    display: block;
    width: 300px;
    height: 40px;
   
    border-radius: 20px;
    background-color: rgb(12, 145, 145);
    color: white;
    text-transform: uppercase;
     
}
.textButton:hover{
    background-color: rgb(4, 70, 10);
}
.textButton:active{
background-color: rgb(2, 26, 9);
}