/* Обнуляющий стиль */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  list-style-type: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* Конец обнуляющего стиля */

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 14px;
  color: #252b42;
  font-family: Montserrat;
  font-weight: 500;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #FAFAFA;
}
._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0 auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/* -----------------------Шапка---------------------------------- */
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  font-size: 24px;
  font-weight: 700;
  color: inherit;
}
.header__menu {
  margin: 0px 0px 0px 133px;
  padding: 5px 0;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0 0 0 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0 0 0 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0 0 0 20px;
  }
}
.menu {
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
}
.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171%;
}
@media (max-width: 479px) {
  .header__menu {
    font-size: 18px;
  }
}
/* -------------- page--------------- */
.page {
  flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
  position: relative;
  margin: -111px 0px 0px 0px;
  z-index: 51;
}
.page__advantages {
}
.page__advices {
}
/* --------------------Header-block---------- */
.header-block {
  text-align: center;
   
}
.header-block__title {
    font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
}
.header-block__title:not(:last-child){
  margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
  font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
}
@media (max-width:992px){
  .header-block_title{
    font-size: 36px;
  }
}
/* ----------------Подвал------------- */
.footer {
}

/* -------------Main-block -------------- */

.main-block {
  position: relative;
}
.main-block__container {
}

.main_block__body {
  padding: 184px 0 191px 0;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
@media (max-width: 992px) {
  .main_block__body {
    padding: 120px 0 191px 0;
  }
}
.main_block__body > *:not(:last-child) {
  padding: 0 0 35px 0;
}
.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
}
@media (max-width: 992px) {
  .main-block__title {
    font-size: 54px;
  }
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 44px;
  }
}
.main-block__text {
  /* padding: 35px 0 35px 0; */
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2;
  color: #737373;
}
@media (max-width: 479px) {
  .main-block__text {
    color: #252b42;
  }
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  border-radius: 37px;
  padding: 5px 36px;
  letter-spacing: 0.2px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin: 10px 0;
}
@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 auto;
  }
}
.main-block__button:not(:last-child) {
  margin-right: 10px;
}
.main-block__button_orange {
  background-color: #ff7b47;
  color: white;
}
.main-block__button_green {
  color: #0d5c63;
  border: 1px solid #0d5c63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .main-block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main-block__image {
    opacity: 0.5;
  }
}

/* ----------Services---------- */


.services {
}
.services__container {
}

.services__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px  ;
}
.services__column {
  padding: 0px  15px;
  flex: 0 1 33.333%;
}
.services__column:last-child{
  /* padding-right: 30px; */
}
@media (max-width:992px){
  .services__column{
    flex: 0 1 100%;
    padding: 0 15px 30px 15px;
  }
}
.services__item {
  height: 100%;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: white;
  padding: 35px;
}
.item-service {
}
.item-service > *:not(:last-child){
margin: 0px 0px 10px 0px;
}
.item-service__green{
 background-color: #0D5C63;
}
.item-service__green .item-service__title {
  color: white;
}
.item-service__green .item-service__text{
  color: white;
}
.item-service__icon {
 
}
.item-service__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.item-service__text {
  font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
}
/* .services {
}
.services__container {
}

.services__body {
 position: relative;
 top: -110px;
  z-index: 60;
}
.services__column {
  display: flex;
  justify-content: space-between;
}

.services__item {
  /* max-width: 328px; */


/* 
.item-service {
   display: flex;
  flex-direction: column;
  padding: 35px 40px;
  /* border: 1px solid black; */
  /* max-width: 328px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  background-color: white; */


/* .item-service > *:not(:last-child){
  padding: 0px 0px 10px 0px ;
} */

/* .item-service__icon {
} */
/* .item-service__title {
  font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
} */
/* .item-service__title:last-child{
  color: white;
} */
/* .item-service__text {
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
} */



 /* .item-service:last-child{
  background-color: #0D5C63;
  
}   */
/* -----------------Adventurs------------*/

.advantages {
  padding: 80px  0px;
}
@media (max-width:992px){
  .advantages{
    padding: 50px  0px;
  }
}
.advantages__container {
}

.advantages__header {
  margin: 0px 0px 50px 0px;
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px -15px;
}
.advantages__column {
  
  /* align-items: center; */
  flex: 0 1 25%;
  padding: 0px  15px;
  margin: 0px 0px 15px 0px;
  
}
@media (max-width:1062px){
  .advantages__column{
    flex: 0 1 50%;
  }
  .advantages__body{
    
  }
}
@media (max-width: 479px){
  .advantages__column{
    flex: 0 1 100%;
    justify-content: center;
  }
}
.advantages__item {
  text-align: center;
  background-color: white;
  padding: 30px ;
  font-weight: 700;
}
.advantages__item > *:not(:last-child){
  margin: 0px 0px 10px 0px;
}
.advantages__icon {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.advantages__value {
  
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
}
.advantages__text {

font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;
color: #737373;
}


/* ------------------------advices---------------- */


.advices {
  padding: 125px 0px 80px 0px;
}
.advices__container {
}

.advices__header {
  margin: 0px 0px 45px 0px;
}

.advices__body {
  display: flex;
  margin: 0px 0px 0px -15px ;
  flex-wrap: wrap;
}
.advices__column {
  flex: 0 1 25%;
  padding: 0px 0px 0px 15px;
}
.advices__item {
  /* display: flex;
  flex-direction: column;
  justify-self: end; */
  background-color: white;

}
.advices__title {
font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;
}
.advices__sub-title {
  font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
}
.advices__image {
  
}